@use 'variables' as v; 

.collapse {
  margin-bottom: 30px;
  width: 100%;

  .collapse-header {
    background-color: v.$color-primary; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 52px;
    border-radius: 10px; 
    cursor: pointer;
    position: relative;
    z-index: 2;

    h2 {
      font-size: 24px;
      font-weight: 500;
      color: white;
      margin: 0;
    }

    .collapse-arrow {
      transition: transform 0.3s ease-in-out;
      font-size: 24px;
      display: inline-block;
      user-select: none;

      &.active {
        transform: rotate(-180deg);
      }
    }
  }

  // LE WRAPPER DOIT ÊTRE ICI (frère du header)
  .collapse-content-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
    background: #F6F6F6;
    border-radius: 0 0 10px 10px;
    margin-top: -10px;
    overflow: hidden; // ESSENTIEL pour la fermeture

    &.opened {
      grid-template-rows: 1fr; // Ouvert
    }

    .collapse-content {
      min-height: 0;
      padding: 0 20px;
      color: v.$color-secondary;
      font-size: 18px;
      transition: padding 0.3s ease;
    }

    &.opened .collapse-content {
      padding: 30px 20px 20px 20px;
    }
  }
}

// Pour la page Logement (côte à côte)
.logement-collapse-row {
  display: flex;
  gap: 76px;
  width: 100%;
}