.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    max-width: 1240px;
    margin: 0 auto;
}

nav {
    display: flex;
    gap: 50px; 

@media (max-width: 768px) {
    gap: 20px;
    text-transform: uppercase;
}

a {
    font-size: 24px;
    font-weight: 500;
    color: $color-secondary;
    
    @media (max-width: 768px) {
    font-size: 12px;
    }

    // Le style quand le lien est actif (grâce à NavLink)
    &.active {
    text-decoration: underline;
    }

    &:hover {
    color: $color-primary; // Le lien devient rouge au survol
    }
}
}
