// Couleurs officielles Kasa
$color-primary: #FF6060; // Le rouge/corail
$color-secondary: #000000;
$color-bg-light: #F6F6F6; // Gris très clair pour les fonds
$white: #FFFFFF;

// Police caractère
$font-main: 'Montserrat', sans-serif;